<div class="col-6 mx-4">



<form [formGroup]="LoginFormdata">

  <div class="mb-3">
    <label  class="form-label">Email address</label>
    <input type="email" formControlName="Email" class="form-control" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label class="form-label" >Password</label>
    <input type="password" formControlName="Password" class="form-control" >
  </div>
  
  <button type="submit" (click)="onLogin()" class="btn btn-primary">Login</button>
  
</form>

<a routerLink="/register">Register Here!</a>
</div>